@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.container {
    margin: 20px auto;
    width: 360px;
    height: 730px;
    background-color: #FAFAFA;
    position: relative;
}
.header {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prevArrow {
    position: absolute;
    left: 3px;
    display: inline-block;
    vertical-align: top;
    padding: 8px 11px 8px 10px;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
.header_caption {
    font-family: SF UI Display Bold;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    text-align: center;
}
.card {
    min-height: 245px;
}
.top_information {
    min-height: 250px;
    padding: 28px 18px;
    margin: 15px 10px 0 10px;
    background: linear-gradient(179.62deg, #D8E4EA 0.75%, #FAFAFA 99.34%), linear-gradient(90deg, #536976 0%, #292E49 100%);
    border-radius: 40px 40px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.client {
    display: flex;
    justify-content: space-between;
}
.client_right {
    margin-left: 15px;
    font-family: SF UI Display Light;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}
.amount {
    font-family: SF UI Display Bold;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}
.amount span {
    opacity: 0.5;
}
.client_right div {
    padding: 1px 0;
}
.logo_alfa {
    margin-right: 13px;
}

.form {
    background-color: #fff;
    border-radius: 15px;
    margin: 10px 15px 0;
    padding: 32px 14px 23px;
    position: absolute;
    top: 135px;
    left: 0;
    width: 330px;
}
.form_group {
    position: relative;
    display: flex;
}
.col-two {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
    padding-right: 32px;
}
.col6 {
    width: 33%;
}
.form_input {
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #DDDDDD;
    width: 100%;
    padding-bottom: 7px;
}
.form_label {
    position: absolute;
    top: 0;
    transition: 0.3s;
    cursor: text;
    font-family: SF UI Display Light;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #BEBEBE;
}
.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown) ~ .form_label {
    top: -18px;
    font-size: 10px;
    line-height: 12px;
    cursor: default;
}
.tip:after {
    content: "";
    position: absolute;
    background-image: url(/img/icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: 0;
    right: -31px;
    z-index: 1;
}
.close:after {
    background-image: url(/img/mark.png);
}
.hint {
    display: none;
    position: absolute;
    width: 225px;
    top: -5px;
    right: -30px;
    padding: 10px 30px 10px 17px;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}
.hint span {
    font-family: SF UI Display Light;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 0;
}
.checkbox {
    margin: 9px 22px;
    padding: 0 7px;
}

.checkbox input[type="checkbox"] {
    display: none;
}
.checkbox input[type="checkbox"] + label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
}
.checkbox input[type="checkbox"] + label:before {
    content: "";
    background-image: none;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #999999;
    border-radius: 4px;
    padding: 2px 10.5px;
    margin-right: 11px;
    vertical-align: middle;
}
.checkbox input[type="checkbox"]:checked + label:before {
    background-image: url(/img/check.png);
}
.btn-container {
    margin: 38px 0 45px;
}
.btn-pay {
    margin: 0 auto;
    position: relative;
    outline: none;
    border: none;
    text-decoration: none;
    border-radius: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
    width: 148px;
    background-color: #EF5350;
    font-family: SF UI Display Light;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.countdown {
    text-align: center;
    color: #999999;
    font-family: SF UI Display Light;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}



/** Payment binding */
.bindingForm {
    color: #E5E5E5;
}
.your-card {
    font-family: SF UI Display Bold;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}
.binding-col-two {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    padding-right: 37px;
    align-items: center;
}
.maskedPan {
    margin-right: 0px;
}
.maskedPan span {
    font-family: SF UI Display Thin;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing : 0.3em;
    word-spacing: 3px;
}
.form-cvc {
    outline: none;
    border: none;
    background-color: transparent;
    border: 1px solid #BEBEBE;
    border-radius: 6px;
    width: 120px;
    height: 36px;
    padding: 0 15px 0 21px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 10px;
}
.form-cvc::-webkit-input-placeholder { 
    font-family: SF UI Display Light;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #BEBEBE;
    opacity: 0.6;
    letter-spacing: 0;
}
.fixPos:after {
    top: 10px;
    right: -37px;
}
.mTopFix {
    margin-top: 20px;
}
.hintFix {
    color: #222222;
}